.game-board {
  width: 100%;
  height: 100vh;
  position: relative;
}

.board-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  gap: 40px;
  align-items: center;
}
